.sidebar {
    padding: 15px;
    background: #1364A5;
    display: inline-block;
    vertical-align: top;
    color: white;
    position: relative;
    height: 96vh;
}

p{
    padding: 0px;
    margin-top: 3px;
}

.img-home{
    background-color: #1364A5;
    background-image: url("../../../assets/icons/home.png");
    background-repeat: no-repeat;
    background-position: 3px;
    height: 35px;
}

.icon-bottom{
    position: absolute;    
    bottom: 0px;
}

.img-help{
    background-color: #1364A5;
    background-image: url("../../../assets/icons/help.png");
    background-repeat: no-repeat;
    background-position: 3px;
    width: 35px;
    height: 35px;    
}


