<app-sidebar class="sidebar"></app-sidebar>
<section>
    <div class="top_section">
        <img src="../../../assets/img/temuco_logo.png" alt="" class="logo">
    </div>

    <div class="col main_content">
        <div>
            <h2>Servicio de Procesamiento de información | Municipalidad de Temuco | Dirección de Operaciones</h2>
        </div>
        

        <div class="container">
            <h3>Ingresar:</h3>
            <form (ngSubmit)="onSubmit()">
                <input type="text" id="fname" name="user" placeholder="Usuario" required [(ngModel)]="formData.username">
                <input type="password" id="lname" name="password" placeholder="Contraseña" required [(ngModel)]="formData.password">
                <div class="container-invalid-credentials">
                    <label *ngIf="invalidCredentials" class="invalid-credentials">Credenciales inválidas</label>
                </div>
              <input type="submit" value="Ingresar">
            </form>
          </div> 


    </div>

</section>




